prometheus_client
flask

adafruit-circuitpython-lsm6ds # 6-axis accelerometer
adafruit-circuitpython-lis3mdl # 3-axis magnetometer
adafruit-circuitpython-tsl2591 # high precision light sensor
adafruit-circuitpython-bh1750 # Ambient light sensor